@using dsstats.authclient
@using dsstats.razorlib
@using dsstats.razorlib.Tourneys
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div>
            <TourneysNavMenu />
        </div>
        <div>
            <AuthStatusComponent RedirectUrl="@string.Empty" />
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
