@page "/info"

<PageTitle>dsstats - info</PageTitle>

<div class="container p-2 border bgchart">

    <h3>
        Fan Project for analyzing <a href="https://starcraft2.com/">Starcarft II</a>
        <a href="https://www.patreon.com/Tya">Direct Strike</a> Replays
    </h3>

    <p>
        All code including this app is open source (GPL-v3) and available on <a href="https://github.com/ipax77/dsstats">GitHub</a>
    </p>

    <h3>Project History</h3>
    <p>
        Some time ago I 'briefly' described how the project came about and how it developed in the beginning
        <a href="https://www.reddit.com/r/dotnetcore/comments/dap9dj/my_way_to_net_core_30/">History of origin (Reddit)</a>.
        <br />
        For me, the project is a very good opportunity to try out the latest technologies, especially dotnet core, entity framework core and Blazor.
    </p>

    <h3>Contact</h3>
    <p>
        If you have any questions about the project or if you're interested in similar work, feel free to reach out:
        <br />
        <a href="mailto:ph.ilipp@web.de">Send email</a>
    </p>
</div>

@code {

}
