@page "/replays"
@using dsstats.maui8.Services
@using dsstats.shared
@inject NavigationManager NavigationManager
@inject ConfigService configService

<PageTitle>dsstats - replays</PageTitle>

<div class="d-flex mb-1" style="overflow-x: auto">
    @foreach (var name in configService.GetRequestNames())
    {
        var playerId = new PlayerId(name.ToonId, name.RealmId, name.RegionId);
        <div class="ms-1 p-2 border border rounded pointer bgchart text-center @(Request.PlayerId == playerId ? "border-3 border-primary" : "border-secondary")"
             @onclick="e => ShowReplays(name)" style="min-width: 80px;">
            <span>@name.Name @Data.GetRegionString(name.RegionId)</span>
        </div>
    }
</div>

<dsstats.razorlib.Replays.ReplaysComponent @ref="replaysComponent" Request="Request" OnRequestChanged="SetParameters" />

