@page "/funstats"
@using sc2dsstats.maui.Services;

<h3 class="text-warning p-2 bg-secondary">FunStats <small class="text-info">based on Default Filter <span class="oi oi-info pointer" @onclick="BrowserOpenDefaultFilterInfo"></span></small></h3>

<sc2dsstats.razorlib.FunStats.FunStatsComponent ToonIds="UserSettingsService.UserSettings.BattleNetInfos.SelectMany(s => s.ToonIds).Select(s => s.ToonId).ToList()" />

@code {
    private async void BrowserOpenDefaultFilterInfo()
    {
        try
        {
            Uri uri = new Uri("https://github.com/ipax77/dsstats/wiki#default-filter");
            await Browser.Default.OpenAsync(uri, BrowserLaunchMode.SystemPreferred);
        }
        catch (Exception)
        {
            // An unexpected error occured. No browser may be installed on the device.
        }
    }
}
