@page "/"
@using System.Diagnostics;
@using pax.dsstats.dbng.Repositories
@using pax.dsstats.dbng.Services;
@using pax.dsstats.shared
@using sc2dsstats.maui.Services
@using sc2dsstats.razorlib
@using sc2dsstats.razorlib.Replay;
@using sc2dsstats.razorlib.Services;
@inject IReplayRepository ReplayRepository
@inject DecodeService DecodeService
@inject UploadService UploadService
@inject IToastService toastSerivce
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="btn-group border border-3 rounded-2 border-light p-2">
    @if (DecodeService.IsRunning)
    {
        <button type="button" class="btn btn-outline-warning" @onclick="StopDecoding">StopDecoding</button>
    }
    else
    {
        <button type="button" class="btn btn-outline-danger" @onclick="Decode">Decode</button>

    }
    <button type="button" class="btn btn-outline-success" @onclick="ScanForNewReplays">Scan</button>
    <button type="button" class="btn btn-outline-info" @onclick="Upload">Upload</button>
    @if (!UserSettingsService.UserSettings.AllowCleanUploads && DecodeService.WatchService != null)
    {
        @if (DecodeService.WatchService.IsWatching)
        {
            <button type="button" class="btn btn-outline-light" @onclick="e => DecodeService.WatchService.StopWatching()">Stop Watching</button>
        }
        else
        {
            <button type="button" class="btn btn-outline-light" @onclick="e => DecodeService.WatchService.WatchForNewReplays()">Start Watching</button>
        }
    }
    @if (DEBUG)
    {
        <button type="button" class="btn btn-danger" @onclick="e => DecodeService.DEBUGDeleteLatestReplay()">D</button>
    }
</div>

@if (latestReplay != null)
{
    <div class="mt-2">
        <div class="row">
            <div class="col-auto">

                <h3 class="text-warning p-2 bg-secondary">Latest Replay</h3>
                <sc2dsstats.razorlib.Replay.ReplayComponent @ref="replayComponent"
                                                        replayDto="latestReplay"
                                                        ReplaysRequest="ReplaysToonIdRequest" />
            </div>
        </div>
    </div>
    <div class="mt-3">
        <FrontPageDetails @ref="frontPageDetails" LatestReplay="latestReplay" />
    </div>
}

@*<div class="btn-group">
    <button type="button" class="btn btn-primary" @onclick="DecodeService.DEBUGEmulateErrorsTest">Debug Errors</button>
</div>*@

<UploadConfirmModal @ref="uploadConfirmModal"></UploadConfirmModal>

@code {
    ReplayDetailsDto? latestReplay = null;
    UploadConfirmModal? uploadConfirmModal;
    TimeSpan elapsed = TimeSpan.Zero;
    ReplayComponent? replayComponent;
    FrontPageDetails? frontPageDetails;

    private bool DEBUG = false;

    protected override void OnInitialized()
    {
        DecodeService.DecodeStateChanged += DecodeService_DecodeStateChanged;
        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            _ = LoadLatestReplay();
        }
        base.OnAfterRender(firstRender);
    }

    public void DecodeService_DecodeStateChanged(object? sender, DecodeEventArgs e)
    {
        if (e.Done == true)
        {
            _ = LoadLatestReplay();
        }
    }

    public async Task ScanForNewReplays()
    {
        await DecodeService.ScanForNewReplays();
    }

    private async Task LoadLatestReplay()
    {
        latestReplay = await ReplayRepository.GetLatestReplay();
        if (latestReplay != null)
        {
            replayComponent?.Init(latestReplay);
            if (latestReplay.PlayerPos > 0)
            {
                Data.MauiRegionId = latestReplay.ReplayPlayers
                    .FirstOrDefault(f => f.GamePos == latestReplay.PlayerPos)?
                    .Player.RegionId ?? 1;
            }
        }
        frontPageDetails?.Update(latestReplay);
        await InvokeAsync(() => StateHasChanged());
    }

    private void Decode()
    {
        toastSerivce.ShowWarning("Start decoding");
        _ = DecodeService.DecodeParallel().ConfigureAwait(false);
    }

    private void StopDecoding()
    {
        DecodeService.StopDecoding();
    }

    private void Upload()
    {
        if (UserSettingsService.UserSettings.AllowCleanUploads)
        {
            _ = UploadService.UploadReplays();
        }
        else
        {
            uploadConfirmModal?.Show();
        }
    }

    private void ReplaysToonIdRequest(ReplaysToonIdRequest request)
    {
        NavigationManager.NavigateTo(
            NavigationManager.GetUriWithQueryParameters("replays",
                new Dictionary<string, object?>()
                        {
                    { "Players", request.Name },
                    { "ToonId", request.ToonId },
                    { "ToonIdWith", request.ToonIdWith == 0 ? null : request.ToonIdWith },
                    { "ToonIdVs", request.ToonIdVs == 0 ? null : request.ToonIdVs },
                    { "ToonIdName", request.ToonIdName },
                        }
            )
        );
    }

    public void Dispose()
    {
        DecodeService.DecodeStateChanged -= DecodeService_DecodeStateChanged;
    }
}