@page "/ratings"
@using pax.dsstats.dbng.Services
@using pax.dsstats.shared;
@using sc2dsstats.maui.Services;
@inject IToastService ToastService
@inject DecodeService DecodeService
@inject IStatsService statsService
@inject MmrProduceService mmrProduceService
@implements IDisposable

<div class="d-flex mb-2">
    <div class="btn-group">
        <button class="btn btn-sm btn-primary" @onclick="RecalculateFire">Recalculate Ratings</button>
    </div>
    @if (isLoading)
    {
        <div class="spinner-border text-danger" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }
    else
    {
        @if (calculationDuration != TimeSpan.Zero)
        {
            <div class="align-self-center">
                <span class="badge bg-info" style="font-size: 1rem;">Elapsed: @calculationDuration.TotalSeconds.ToString("N2") sec.</span>
            </div>
        }
    }
</div>
<div>
    <sc2dsstats.razorlib.PlayerRatings RatingsRequest="ratingsRequest" @ref="playerRatings"></sc2dsstats.razorlib.PlayerRatings>
</div>
@code {
    private sc2dsstats.razorlib.PlayerRatings? playerRatings;
    private bool isLoading = false;
    private readonly object lockobject = new();
    private TimeSpan calculationDuration = TimeSpan.Zero;

    private RatingsRequest ratingsRequest = new()
        {
            Type = pax.dsstats.shared.RatingType.Cmdr,
            Skip = 0,
            Take = 20,
            Orders = new()
        {
            new()
            {
                Property = "Rating",
                Ascending = false
            },

        }
        };

    protected override void OnInitialized()
    {
        //MmrService.Recalculated += MmrService_Recalculated;
        base.OnInitialized();
    }

    private async void RecalculateFire()
    {
        if (CantDoIt())
        {
            return;
        }
        lock (lockobject)
        {
            if (isLoading)
            {
                return;
            }
            isLoading = true;
        }

        await Task.Run(async () =>
        {
            await mmrProduceService.ProduceRatings(new(true)).ConfigureAwait(false);
        });

        isLoading = false;

        await InvokeAsync(() => StateHasChanged());

        //if (playerRatings != null)
        //{
        //    await playerRatings.Reload();
        //}
    }

    private bool CantDoIt()
    {
        if (DecodeService.IsRunning)
        {
            ToastService.ShowError("Please wait for the decoding to finish.", "Recalculate Error");
            return true;
        }
        return false;
    }


    public void Dispose()
    {
        //MmrService.Recalculated -= MmrService_Recalculated;
    }
}
