html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.pointer {
    cursor: pointer;
}

.bgchart {
    background-color: #080808E6;
}

.bgchart2 {
    background-color: #0f1a29E6;
}

.tableFixHead {
    overflow-y: auto;
    overflow-x: auto;
}

.tptable {
    background-color: #080808E6;
    width: 100%;
    border-collapse: collapse;
}

    .tptable thead th {
        position: sticky;
        top: 0;
        background-color: #080808;
    }

    .tptable table {
        border-collapse: collapse;
        width: 100%;
    }

    .tptable thead tr th {
        padding: 4px 8px;
        white-space: nowrap;
        user-select: none;
    }

    .tptable tbody tr:hover {
        background-color: #12243aE6;
    }

    .tptable tbody tr:nth-child(odd) {
        background-color: #0f1a29E6;
    }

        .tptable tbody tr:nth-child(odd):hover {
            background-color: #12243aE6;
        }

.preload-terran {
    background-image: url("/_content/dsstats.razorlib/images/terran-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-protoss {
    background-image: url("/_content/dsstats.razorlib/images/protoss-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-zerg {
    background-image: url("/_content/dsstats.razorlib/images/zerg-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-abathur {
    background-image: url("/_content/dsstats.razorlib/images/abathur-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-alarak {
    background-image: url("/_content/dsstats.razorlib/images/alarak-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-artanis {
    background-image: url("/_content/dsstats.razorlib/images/artanis-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-dehaka {
    background-image: url("/_content/dsstats.razorlib/images/dehaka-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-fenix {
    background-image: url("/_content/dsstats.razorlib/images/fenix-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-horner {
    background-image: url("/_content/dsstats.razorlib/images/horner-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-karax {
    background-image: url("/_content/dsstats.razorlib/images/karax-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-kerrigan {
    background-image: url("/_content/dsstats.razorlib/images/kerrigan-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-mengsk {
    background-image: url("/_content/dsstats.razorlib/images/mengsk-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-nova {
    background-image: url("/_content/dsstats.razorlib/images/nova-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-raynor {
    background-image: url("/_content/dsstats.razorlib/images/raynor-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-stetmann {
    background-image: url("/_content/dsstats.razorlib/images/stetmann-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-stukov {
    background-image: url("/_content/dsstats.razorlib/images/stukov-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-swann {
    background-image: url("/_content/dsstats.razorlib/images/swann-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-tychus {
    background-image: url("/_content/dsstats.razorlib/images/tychus-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-vorazun {
    background-image: url("/_content/dsstats.razorlib/images/vorazun-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-zagara {
    background-image: url("/_content/dsstats.razorlib/images/zagara-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.preload-zeratul {
    background-image: url("/_content/dsstats.razorlib/images/zeratul-min.png");
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.ismobile {
    display: none;
}

.isdesktop {
    display: block;
}

@media only screen and (max-width: 1275px) {
    .ismobile {
        display: block;
    }

    .isdesktop {
        display: none;
    }
}