.ismobile {
    display: none;
}

.isdesktop {
    display: block;
}

@media only screen and (max-width: 1275px) {
    .ismobile {
        display: block;
    }

    .isdesktop {
        display: none;
    }
}
