@using pax.BlazorChartJs;
@using pax.dsstats.shared;

<div class="col-auto" style="width: 550px;">
    <ChartComponent ChartJsConfig="chartJsConfig"></ChartComponent>
</div>

@code {
    [Parameter, EditorRequired]
    public List<PlayerMatchupInfo> Matchups { get; set; } = new();

    private ChartJsConfig chartJsConfig = null!;

    protected override void OnInitialized()
    {
        chartJsConfig = GetPieChartConfig();
        base.OnInitialized();
    }

    public void Update(List<PlayerMatchupInfo> matchupInfos)
    {
        chartJsConfig.RemoveDatasets(chartJsConfig.Data.Datasets);
        Matchups = matchupInfos;
        var sum = Matchups.Sum(s => s.Count);
        var ents = GetDatasetData();
        chartJsConfig.SetLabels(ents.Select(s => s.Key.ToString()).ToList());
        chartJsConfig.AddDataset(new PieDataset()
            {
                Data = ents.Select(s => (object)Math.Round(s.Value * 100.0 / sum, 2)).ToList(),
                BackgroundColor = new IndexableOption<string>(ents.Select(s => Data.GetBackgroundColor(s.Key)).ToList()),
                BorderColor = new IndexableOption<string>(ents.Select(s => Data.CmdrColor[s.Key]).ToList()),
                BorderWidth = new IndexableOption<double>(1)
            });
    }

    private List<KeyValuePair<Commander, int>> GetDatasetData()
    {
        int sum = Matchups.Sum(s => s.Count);
        var cmdrs = Matchups.Select(s => s.Commander).Distinct().ToList();
        Dictionary<Commander, int> dic = cmdrs
            .ToDictionary(k => k, v => Matchups.Where(x => x.Commander == v).Sum(s => s.Count));
        return dic.OrderByDescending(o => o.Value).ToList();

    }

    private ChartJsConfig GetPieChartConfig()
    {
        var sum = Matchups.Sum(s => s.Count);
        var ents = GetDatasetData();
        return new()
            {
                Type = ChartType.pie,
                Data = new ChartJsData()
                {
                    Labels = ents.Select(s => s.Key.ToString()).ToList(),
                    Datasets = new List<ChartJsDataset>()
                    {
                        new PieDataset()
                        {
                            Data = ents.Select(s => (object)Math.Round(s.Value * 100.0 / sum, 2)).ToList(),
                            BackgroundColor = new IndexableOption<string>(ents.Select(s => Data.GetBackgroundColor(s.Key)).ToList()),
                            BorderColor = new IndexableOption<string>(ents.Select(s => Data.CmdrColor[s.Key]).ToList()),
                            BorderWidth = new IndexableOption<double>(1)
                        }
                    }
                },
                Options = new ChartJsOptions()
                {
                    Plugins = new Plugins()
                    {
                        Title = new Title()
                        {
                            Display = true,
                            Text = new IndexableOption<string>("Commanders Played"),
                            Color = "#0d6efd",
                            Font = new Font()
                            {
                                Size = 24,
                            }
                        },
                        Legend = new Legend()
                        {
                            Position = "right"
                        }
                    }
                }

            };
    }
}
