@using Microsoft.AspNetCore.Components.Routing
@using dsstats.maui.Components
@inherits CultureBaseComponent
<nav class="navbar fixed-top navbar-expand-lg bg-secondary-subtle">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">dsstats</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<NavLink class="nav-link" href="#" Match="NavLinkMatch.All">
						<span class="bi bi-house-door-fill me-1" aria-hidden="true" /> @Loc["Home"]
					</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="replays">
						<span class="bi bi-card-list me-1" aria-hidden="true" /> @Loc["Replays1"]
					</NavLink>
				</li>
				<li class="nav-item">
					<NavLink class="nav-link" href="config">
						<span class="bi bi-gear me-1" aria-hidden="true" /> @Loc["Settings"]
					</NavLink>
				</li>
			</ul>
			<span class="navbar-text">
				v3.0.1
			</span>
		</div>
	</div>
</nav>