@page "/info"

<PageTitle>dsstats - info</PageTitle>

<div class="container p-2 border bgchart">

    <h3>
        Fan Project for analyzing <a href="https://starcraft2.com/">Starcarft II</a>
        <a href="https://www.patreon.com/Tya">Direct Strike</a> Replays
    </h3>

    <p>
        All code including this website is open source (GPL-v3) and available on <a href="https://github.com/ipax77/dsstats">GitHub</a>
    </p>

    <p>
        To contribute with your own replays you can use the free Windows 10 desktop application:
        <div>
            <a href="https://apps.microsoft.com/detail/9nnnmb503hn5">
                <img src="_content/dsstats.razorlib/images/store.png" alt="Microsoft Store" width="100" />
            </a>
            <a href="https://apps.microsoft.com/detail/9nnnmb503hn5">
                dsstats app
            </a>
        </div>
    </p>

    <h3>Project History</h3>
    <p>
        Some time ago I 'briefly' described how the project came about and how it developed in the beginning
        <a href="https://www.reddit.com/r/dotnetcore/comments/dap9dj/my_way_to_net_core_30/">History of origin (Reddit)</a>.
        <br />
        For me, the project is a very good opportunity to try out the latest technologies, especially dotnet core, entity framework core and Blazor.
    </p>

    <h3>Contact</h3>
    <p>
        If you have any questions about the project or if you're interested in similar work, feel free to reach out:
        <br />
        <a href="mailto:ph.ilipp@web.de">Send email</a>
    </p>

    <div class="mt-5">
        <h4>Opt-out</h4>
        <p>
            <a href="javascript:gaOptout()">Click here to opt-out of Google Analytics</a>
        </p>
    </div>
</div>

@code {

}
