<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">dsstats.maui</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="stats">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Stats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="funstats">
                <span class="oi oi-badge" aria-hidden="true"></span> FunStats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ratings">
                <span class="oi oi-infinity" aria-hidden="true"></span> Player Ratings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="builds">
                <span class="oi oi-spreadsheet" aria-hidden="true"></span> Builds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="replays">
                <span class="oi oi-list" aria-hidden="true"></span> Replays
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-5">
            <div class="row px-3">
                <div class="pointer" @onclick="BrowserOpenIssues">
                    <img src="_content/sc2dsstats.razorlib/images/GitHub-Mark-Light-64px.png" alt="github" />
                </div>
                <button type="button" class="btn btn-outline-light" style="max-width: 200px;" @onclick="BrowserOpenIssues">
                    Report Issues or Suggestions
                </button>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async void BrowserOpenIssues()
    {
        try
        {
            Uri uri = new Uri("https://github.com/ipax77/dsstats/issues");
            await Browser.Default.OpenAsync(uri, BrowserLaunchMode.SystemPreferred);
        }
        catch (Exception)
        {
            // An unexpected error occured. No browser may be installed on the device.
        }
    }
}
