@using sc2dsstats.maui.Services;
@inject UploadService UploadService
@inject IJSRuntime jsRuntime
@inject UserSettingsService UserSettingsService

<div id="uploadConfirmModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    Would you like to allow the application to upload your replays to the <a href="https://dsstats.pax77.org">dsstats website</a> with all the names?
                </p>
                <div class="btn-group">
                    <button class="btn btn-warning" @onclick="AllowUploads">Allow Clean Uploads</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void DecodeService_ErrorRaised(object? sender, EventArgs e)
    {
        InvokeAsync(() => StateHasChanged());
    }

    public void Show()
    {
        jsRuntime.InvokeVoidAsync("ReplayModalOpen", "uploadConfirmModal");
    }

    private async void AllowUploads()
    {
        UserSettingsService.UserSettings.AllowCleanUploads = true;
        UserSettingsService.UserSettings.AllowUploads = true;
        UserSettingsService.UserSettings.AutoScanForNewReplays = true;
        await UserSettingsService.Save();
        _ = UploadService.UploadReplays();
        await jsRuntime.InvokeVoidAsync("ReplayModalClose");
    }
}
