.sortnumber {
        position: absolute;
        text-indent: 2.7px;
        margin: 0px -5px;
        margin-right: 2px;
        width: 15px;
        height: 15px;
        border: none;
        border-radius: 100%;
        line-height: 15px;
        color: #FFF;
        background-color: #99C;
    }