@page "/cmdrstrength"
@using pax.dsstats.shared;
@inject NavigationManager NavigationManager

<PageTitle>Cmdr Strength</PageTitle>

<title>Direct Strike - Commander strength based on player ratings</title>

<sc2dsstats.razorlib.CmdrStrength.CmdrStrengthComponent Request="request" OnRequestChanged="RequestChanged" />

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? RatingType { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? TimePeriod { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Interest { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Team { get; set; }

    private CmdrStrengthRequest request = new()
    {
        TimePeriod = pax.dsstats.shared.TimePeriod.Past90Days,
        RatingType = pax.dsstats.shared.RatingType.Cmdr
    };

    protected override void OnInitialized()
    {
        SetRequest();
        base.OnInitialized();
    }

    private void SetRequest()
    {
        if (!String.IsNullOrEmpty(RatingType)
            && Enum.TryParse(typeof(RatingType), RatingType, out object? ratingTypeObj)
            && ratingTypeObj is RatingType ratingType)
        {
            request.RatingType = ratingType;
        }

        if (!String.IsNullOrEmpty(TimePeriod)
            && Enum.TryParse(typeof(TimePeriod), TimePeriod, out var timePeriodObj)
            && timePeriodObj is TimePeriod timePeriod)
        {
            request.TimePeriod = timePeriod;
        }

        if (!String.IsNullOrEmpty(Interest)
            && Enum.TryParse(typeof(Commander), Interest, out var interestObj)
            && interestObj is Commander interest)
        {
            request.Interest = interest;
        }

        if (!String.IsNullOrEmpty(Team)
            && Enum.TryParse(typeof(TeamRequest), Team, out var teamObj)
            && teamObj is TeamRequest team)
        {
            request.Team = team;
        }
    }

    private void RequestChanged(CmdrStrengthRequest request)
    {
        Dictionary<string, object?> queryDic = new();

        queryDic.Add("RatingType", request.RatingType.ToString());
        queryDic.Add("TimePeriod", request.TimePeriod.ToString());

        if (request.Interest == Commander.None)
        {
            queryDic.Add("Interest", null);
        }
        else
        {
            queryDic.Add("Interest", request.Interest.ToString());    
        }

        if (request.Team == TeamRequest.None)
        {
            queryDic.Add("Team", null);
        }
        else
        {
            queryDic.Add("Team", request.Team.ToString());
        }

        NavigationManager.NavigateTo(
            NavigationManager.GetUriWithQueryParameters(
                new Dictionary<string, object?>(queryDic)
            )
        );
    }
}
