@page "/commander"
@page "/misc/commanders"
@layout MiscLayout
@using pax.dsstats.shared;
@using sc2dsstats.razorlib.Cmdrs

<PageTitle>Commanders</PageTitle>
<title>Direct Strike - Commanders</title>

<CmdrsComponent CmdrRequest="cmdrRequest"></CmdrsComponent>

@code {
    CmdrRequest cmdrRequest = new()
    {
        TimeSpan = TimePeriod.Past90Days,
        Cmdr = Commander.Abathur
    };
}
