@page "/teams"
@using pax.dsstats.shared;

<PageTitle>Teams</PageTitle>
<title>Direct Strike - Standard teams performance</title>

<sc2dsstats.razorlib.Crosstable.CrosstableComponent CrossTableRequest="crossTableRequest"></sc2dsstats.razorlib.Crosstable.CrosstableComponent>

@code {
    private CrossTableRequest crossTableRequest = new();
}
