@page "/"

<PageTitle>DsStats</PageTitle>

<div class="bg-light rounded p-3" style="max-width: 700px;">
    <h3 class="text-primary">Direct Strike Fan Project</h3>

    <h4 class="text-secondary">Fan Project for analyzing <a href="https://starcraft2.com/">Starcraft II</a> <a href="https://www.patreon.com/Tya">Direct Strike</a> Replays</h4>
    <h4 class="text-dark mt-3"><a href="/stats">Stats</a> for every commander</h4>
    <h4 class="text-dark"><a href="/ratings">Compare</a> yourself with other players worldwide</h4>
    <h4 class="text-dark"><a href="/builds">Builds</a> from the top players for every matchup</h4>
</div>

<div class="mt-4">
    <p>
        The code for this website and the desktop app are <a href="https://en.wikipedia.org/wiki/Open_source">open source</a>.
        So you always know where your data is stored and what is happening with it.(<a href="https://en.wikipedia.org/wiki/GNU_Affero_General_Public_License">AGPL-v3</a>)
    </p>
    <p>The data is from the community for the community, no other parties are involved.</p>
</div>

<div class="mt-4">
    <p>
    <a href="https://github.com/ipax77/dsstats">
        <img class="me-2" src="_content/sc2dsstats.razorlib/images/GitHub-Mark-Light-64px.png" alt="GitHub" width="25" />
        GitHub Project
    </a>
    </p>
    <p>
    <a href="https://github.com/ipax77/dsstats/wiki">
        <img class="me-2" src="_content/sc2dsstats.razorlib/images/GitHub-Mark-Light-64px.png" alt="GitHub" width="25" />
        GitHub Wiki
    </a>
    </p>
</div>

<div class="row">
    <div class="col-auto">
        <sc2dsstats.razorlib.Stats.TopStatsComponent></sc2dsstats.razorlib.Stats.TopStatsComponent>
    </div>
    <div class="col-auto">
        <sc2dsstats.razorlib.Ratings.TopPlayerRatings RatingType="shared.RatingType.Cmdr"></sc2dsstats.razorlib.Ratings.TopPlayerRatings>
    </div>
    <div class="col-auto">
        <sc2dsstats.razorlib.Ratings.TopPlayerRatings RatingType="shared.RatingType.Std"></sc2dsstats.razorlib.Ratings.TopPlayerRatings>
    </div>
</div>