@page "/"

<PageTitle>DsStats</PageTitle>

<div class="bg-light rounded p-3" style="max-width: 700px;">
    <h3 class="text-primary">Direct Strike Fan Project</h3>

    <h4 class="text-secondary">Fan Project for analyzing <a href="https://starcraft2.com/">Starcarft II</a> <a href="https://www.patreon.com/Tya">Direct Strike</a> Replays</h4>
</div>

<div class="mt-5">
    <p>
    <a href="https://github.com/ipax77/dsstats">
        <img class="me-2" src="_content/sc2dsstats.razorlib/images/GitHub-Mark-Light-64px.png" alt="GitHub" width="25" />
        GitHub Project
    </a>
    </p>
    <p>
    <a href="https://github.com/ipax77/dsstats/wiki">
        <img class="me-2" src="_content/sc2dsstats.razorlib/images/GitHub-Mark-Light-64px.png" alt="GitHub" width="25" />
        GitHub Wiki
    </a>
    </p>

    <p>
        <a href="https://discordapp.com/users/pax_77#2766">Discord</a>
    </p>
    
</div>