@page "/"

<PageTitle>DsStats</PageTitle>

<h3 class="text-warning">&gt;&gt; Under Construction &gt;&gt;</h3>


<div class="mt-4" style="font-size: 1.2rem;">

    <h4>Rating Rules (under development)</h4>

    <p></p>

    <p>
        Player ratings serve as an indicator and do not represent a very accurate strength of a player.
    </p>

    <p>
        Player rating can change drastically if another player uploads all of their replays. This player rating will be adjusted, as well as all ratings of players with/against this player.
    </p>

    <p>
        Leavers (a player who leaves the game without pressing the win/lose button) receive a penalty in their rating. (Maybe check if the team left at some point to process inhouse defeats)
    </p>

    <p>
        Players who do not upload a lost replay, but that replay is uploaded by one or more other players in the game will receive a penalty in their rating.
    </p>

    <p>
        ...
    </p>
</div>
