@page "/info"

<PageTitle>Info</PageTitle>

<div style="font-size: 1.2rem;">
    <p>
        Fan Project for analyzing <a href="https://starcraft2.com/">Starcarft II</a> <a
            href="https://www.patreon.com/Tya">Direct Strike</a> Replays
    </p>

    <p>
        All code including this website is open source (GPL-v3) and available on <a
            href="https://github.com/ipax77/dsstats">GitHub</a>
    </p>

    <p>
        To contribute with your own replays download and install <a
            href="https://github.com/ipax77/sc2dsstats/releases/latest">dsstats.maui</a> (<a
            href="https://github.com/ipax77/dsstats">Install instructions</a>)
    </p>

    <p>
        The app can be used offline to analyze your stats locally. If you want to upload your replays and contribute to
        this site, you must give your explicit consent.
    </p>
</div>

<div>
    <p>
        <a href="javascript:gaOptout()">Click here to opt-out of Google Analytics</a>
    </p>
</div>