@page "/misc"
@layout MiscLayout

<div>
    <h3>Miscellaneous Data and Stats</h3>

    <ul>
        <li>
            Average unit composition of one or more players for all matchups
            <a href="misc/builds">Player Builds</a>
        </li>
        <li>
            Standard mode team composition winrates
            <a href="misc/teams">Std-Teams</a>
        </li>
        <li>
            Notable replays
            <a href="misc/funstats">Fun Stats</a>
        </li>
        <li>
            Commander summary and best players with the commander
            <a href="misc/funstats">Commanders</a>
        </li>
        <li>
            Army values and upgrades for all commanders at a specific breakpoint from selectable players
            <a href="misc/armyvalues">Army Values</a>
        </li>
    </ul>
</div>

@code {

}