@page "/stats"
@layout StatsLayout
@using pax.dsstats.shared
@inject NavigationManager NavigationManager

<PageTitle>Stats</PageTitle>
<title>Direct Strike - Commander stats</title>


@code {
    [SupplyParameterFromQuery]
    public string? StatsMode { get; set; }

    protected override void OnInitialized()
    {
        Navigate();
        base.OnInitialized();
    }

    private void Navigate()
    {
        if (Enum.TryParse(typeof(StatsMode), StatsMode, out object? statsModeObj)
            && statsModeObj is StatsMode statsMode)
        {
            var url = statsMode switch
            {
                shared.StatsMode.Count => "/stats?StatsMode=Count",
                shared.StatsMode.Timeline => "/stats/timeline",
                shared.StatsMode.Synergy => "/stats?StatsMode=Synergy",
                shared.StatsMode.Duration => "/stats/duration",
                _ => "/stats/winrate"
            };
            NavigationManager.NavigateTo(url);
        }
        else
        {
            NavigationManager.NavigateTo("/stats/winrate");
        }
    }
}
