@if (isLoading)
{
    <div class="spinner-border spinner-border-sm text-info ms-2" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
}

<div>
    <CascadingValue Value="Request">
        <DurationRequestComponent OnRequestChanged="LoadData" OnRatingTypeChanged="RatingTypeChanged"></DurationRequestComponent>
    </CascadingValue>
</div>

<div class="border rounded border-secondary bgchart"
     style="min-width: 650px; width: 77vw; height: calc(77vw * 0.5); min-height: 275px;">
    <CascadingValue Value="Request">
        @if (Response != null)
        {
            <DurationChart @ref="durationChart" Response="Response"></DurationChart>
        }
    </CascadingValue>
</div>
<div class="row mt-2">
    <div class="col-auto">
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-outline-light" @onclick="ClearChart">Clear Chart</button>
            <button type="button" class="btn btn-sm btn-outline-light" @onclick="ShowChart">Full Chart</button>
        </div>
    </div>
    <div class="col-auto">
        <div class="btn-group ms-2">
            <button type="button" class="btn btn-sm btn-outline-light" @onclick="e => durationChart?.AddAvgLine()"
                    data-bs-toggle="tooltip"
                    data-bs-title="Add average line for selected commanders">
                Add Avg Line
            </button>
            <button type="button" class="btn btn-sm btn-outline-light" @onclick="e => durationChart?.RemoveAvgLine()">Remove Avg Line</button>
        </div>
    </div>
</div>
<div class="mt-2">
    <div class="bgchart d-inline-block p-1">
        @if (Request.WithRating)
        {
            <p class="text-warning">
                Commanders average rating gain for games finished in the specified time.
            </p>
        }
        else
        {
            <p class="text-warning">
                Commanders winrate for games finished in the specified time.
            </p>
        }
    </div>
    @if (Response != null)
    {
        <DurationTable @ref="durationTable" Response="Response" OnChartRequest="ChartRequest" Request="Request"></DurationTable>
    }
</div>