@using Microsoft.JSInterop
@using dsstats.shared
@inject IJSRuntime JSRuntime

<div class="modal" id="@modalId" aria-hidden="true" aria-labelledby="@modalId" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body" style="background: url('/_content/dsstats.weblib/images/bgbing_soft.jpg') repeat center center fixed;">
                @if (_response != null)
                {
                    <PlayerComponent Response="_response" OnReplayRequest="OnReplayRequest" OnClose="Close" />
                }
            </div>
        </div>
    </div>
</div>

@code {
    private string modalId = "playerModal";

    private PlayerStatsResponse? _response;

    [Parameter]
    public EventCallback<ReplayDetails> OnReplayRequest { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    public void Show(PlayerStatsResponse response)
    {
        _response = response;
        InvokeAsync(StateHasChanged);
        JSRuntime.InvokeVoidAsync("openModalById", modalId);
    }

    public void Close()
    {
        JSRuntime.InvokeVoidAsync("closeModalById", modalId);
        OnClose.InvokeAsync();
        _response = null;
    }
}
