@using Microsoft.JSInterop
@using dsstats.razorlib.Services
@using dsstats.shared
@using pax.BlazorChartJs
@inject IJSRuntime JSRuntime

<ChartComponent @ref="chartComponent" ChartJsConfig="chartJsConfig" OnEventTriggered="ChartEventTriggered">
</ChartComponent>
<span class="bi bi-x-lg pointer text-danger" style="position: absolute; top: 0; right: 0; padding: 10px; z-index: 1000;"
      @onclick="e => OnCloseRequest.InvokeAsync()"></span>

@code {
    [Parameter, EditorRequired]
    public MiddleInfo MiddleInfo { get; set; } = default!;

    [Parameter, EditorRequired]
    public ICollection<ReplayPlayerDto> ReplayPlayers { get; set; } = default!;

    [Parameter]
    public EventCallback OnCloseRequest { get; set; }

    private ChartComponent? chartComponent;
    private ChartJsConfig chartJsConfig = null!;

    private Lazy<Task<IJSObjectReference>> moduleTask = null!;
    bool isRegistered;

    bool chartReady;

    protected override void OnInitialized()
    {
        moduleTask = new(() => JSRuntime.InvokeAsync<IJSObjectReference>(
                "import", "./_content/dsstats.razorlib/js/timeChart.js").AsTask());

        chartJsConfig = new()
            {
                Type = ChartType.line,
                Options = new ChartJsOptions()
                {
                    Responsive = true,
                    MaintainAspectRatio = true,
                    Plugins = new Plugins()
                    {
                        ArbitraryLines = new List<ArbitraryLineConfig>(),
                        Legend = new Legend()
                        {
                            Position = "top"
                        },
                        Title = new Title()
                        {
                            Display = true,
                            Text = new IndexableOption<string>($"Middle - {MiddleInfo.MiddleChanges.Count} changes"),
                            Color = "yellow",
                            Font = new Font()
                            {
                                Size = 16
                            }
                        }
                    },
                    Scales = new ChartJsOptionsScales()
                    {
                        X = new LinearAxis()
                        {
                            Display = true,
                            Position = "bottom",
                            BeginAtZero = true,
                            Title = new Title()
                            {
                                Display = true,
                                Text = new IndexableOption<string>("GameTime"),
                                Color = "yellow",
                            },
                            Ticks = new LinearAxisTick()
                            {
                                Color = "yellow",
                            }
                        },
                        Y = new LinearAxis()
                        {
                            Display = true,
                            BeginAtZero = true,
                            Title = new Title()
                            {
                                Display = true,
                                Text = new IndexableOption<string>("%"),
                                Color = "yellow",
                            },
                            Ticks = new LinearAxisTick()
                            {
                                Color = "yellow",
                            },
                            Grid = new ChartJsGrid()
                            {
                                Color = "grey",
                            }
                        }
                    }
                }
            };
        base.OnInitialized();
    }

    public void SetupChart()
    {
        if (!chartReady)
        {
            return;
        }

        List<ChartMiddleData> team1mid = new();
        List<ChartMiddleData> team2mid = new();

        int seconds = 0;
        while (seconds < MiddleInfo.Duration)
        {
            (var mid1, var mid2) = HelperService.GetChartMiddle(MiddleInfo, seconds);

            var x = $"1970-01-01T{HelperService.TimeFromSecondsWithHour(seconds)}";
            team1mid.Add(new() { X = x, Y = mid1 });
            team2mid.Add(new() { X = x, Y = mid2 });
            seconds += 30;
        }

        var xt = $"1970-01-01T{HelperService.TimeFromSecondsWithHour(MiddleInfo.Duration)}";
        (var lmid1, var lmid2) = HelperService.GetChartMiddle(MiddleInfo, MiddleInfo.Duration);
        team1mid.Add(new() { X = xt, Y = lmid1 });
        team2mid.Add(new() { X = xt, Y = lmid2 });

        List<ArbitraryLineConfig> objectives = new();
        if (MiddleInfo.Cannon > 0 && MiddleInfo.Duration > MiddleInfo.Cannon)
        {
            DateTimeOffset date = new DateTime(1970, 1, 1);
            date = date.Add(TimeSpan.FromSeconds(MiddleInfo.Cannon));

            objectives.Add(new()
                {
                    XPosition = (int)date.ToUnixTimeMilliseconds(),
                    ArbitraryLineColor = "yellow",
                    Text = "Cannon"
                });
        }
        if (MiddleInfo.Bunker > 0 && MiddleInfo.Duration > MiddleInfo.Bunker)
        {
            DateTimeOffset date = new DateTime(1970, 1, 1);
            date = date.Add(TimeSpan.FromSeconds(MiddleInfo.Bunker));

            var x = $"1970-01-01T{HelperService.TimeFromSecondsWithHour(MiddleInfo.Bunker)}";

            // if (team1mid.FirstOrDefault(f => f.X == x) is null)
            // {
            //     (var mid1, var mid2) = HelperService.GetChartMiddle(MiddleInfo, MiddleInfo.Bunker);
            //     team1mid.Add(new() { X = x, Y = mid1 });
            //     team2mid.Add(new() { X = x, Y = mid2 });
            // }

            objectives.Add(new()
                {
                    XPosition = (int)date.ToUnixTimeMilliseconds(),
                    ArbitraryLineColor = "yellow",
                    Text = "Bunker"
                });
        }

        var team1Dataset = new LineDataset()
            {
                Label = "Team 1",
                Data = team1mid.OrderBy(o => o.X).Cast<object>().ToList(),
                BorderColor = MiddleInfo.WinnerTeam == 1 ? "green" : "red",
                BorderWidth = 3,
                Fill = false,
                PointBackgroundColor = "white",
                PointBorderColor = "yellow",
                PointRadius = 1,
                PointBorderWidth = 1,
                PointHitRadius = 1,
                Tension = 0
            };
        var team2Dataset = new LineDataset()
            {
                Label = "Team 2",
                Data = team2mid.OrderBy(o => o.X).Cast<object>().ToList(),
                BorderColor = MiddleInfo.WinnerTeam == 2 ? "green" : "red",
                BorderWidth = 3,
                Fill = false,
                PointBackgroundColor = "white",
                PointBorderColor = "yellow",
                PointRadius = 1,
                PointBorderWidth = 1,
                PointHitRadius = 1,
                Tension = 0
            };

        if (chartJsConfig.Data.Datasets.Count > 0)
        {
            chartJsConfig.RemoveDatasets(chartJsConfig.Data.Datasets);
        }

        chartJsConfig.AddDatasets(new List<ChartJsDataset>() { team1Dataset, team2Dataset });

        if (chartJsConfig.Options?.Plugins?.ArbitraryLines is not null)
        {
            chartJsConfig.Options.Plugins.ArbitraryLines = objectives;
            chartJsConfig.UpdateChartOptions();
        }

        AddTierUpgradeArbitraryLines();
    }

    public void AddTierUpgradeArbitraryLines()
    {
        List<ArbitraryLineConfig> tierUps = new();

        foreach (var rp in ReplayPlayers)
        {
            if (string.IsNullOrEmpty(rp.TierUpgrades))
            {
                continue;
            }

            DateTimeOffset date = new DateTime(1970, 1, 1);

            var rpUps = rp.TierUpgrades.Split('|', StringSplitOptions.RemoveEmptyEntries);

            for (int i = 0; i < rpUps.Length; i++)
            {
                tierUps.Add(new()
                {
                    XPosition = (int)date.Add(TimeSpan.FromSeconds(Convert.ToInt32(int.Parse(rpUps[i]) / 22.4))).ToUnixTimeMilliseconds(),
                    ArbitraryLineColor = "blue",
                    Text = $"Tier{i+2} {rp.Race} #{rp.GamePos}"
                });
            }
        }

        if (chartJsConfig.Options?.Plugins?.ArbitraryLines is not null)
        {
            tierUps.AddRange(chartJsConfig.Options.Plugins.ArbitraryLines);
            chartJsConfig.Options.Plugins.ArbitraryLines = tierUps;
            chartJsConfig.UpdateChartOptions();
        }
    }

    private async void ChartEventTriggered(ChartJsEvent chartEvent)
    {
        if (chartEvent is ChartJsInitEvent initEvent)
        {
            var success = await RegisterPlugin();
            chartReady = !success;
            SetupChart();
        }
    }

    private async Task<bool> RegisterPlugin()
    {
        if (!isRegistered)
        {
            var module = await moduleTask.Value.ConfigureAwait(false);
            await module.InvokeVoidAsync("registerPlugin")
                .ConfigureAwait(false);

            isRegistered = true;

            if (chartJsConfig.Options?.Scales?.X != null)
            {
                chartJsConfig.Options.Scales.X = new TimeCartesianAxis()
                    {
                        Display = true,
                        Position = "bottom",
                        Type = "time",
                        Time = new TimeCartesianAxisTime()
                        {
                            Unit = "second",
                            TooltipFormat = "mm:ss",
                            DisplayFormats = new
                            {
                                millisecond = "mm:ss.SSS",
                                second = "mm:ss",
                                minute = "mm",
                                hour = "HH"
                            }
                        },
                        Title = new Title()
                        {
                            Display = true,
                            Text = "GameTime",
                            Color = "yellow",
                        },
                        Ticks = new TimeCartesianAxisTicks()
                        {
                            Color = "yellow",
                        },
                        Grid = new ChartJsGrid()
                        {
                            Display = true,
                            Color = "#6B6B6B",
                            LineWidth = 1,
                            DrawOnChartArea = true,
                            TickLength = 8,
                            TickWidth = 1,
                            TickColor = "#4E58A0",
                            Offset = false,
                        },
                        Border = new ChartJsAxisBorder()
                        {
                            Display = true,
                            Width = 1,
                            Color = "#6B6B6B"
                        }
                    };
            }
            chartJsConfig.ReinitializeChart();
            return true;
        }
        return false;
    }

    public record ChartMiddleData
    {
        public string X { get; set; } = string.Empty;
        public double Y { get; set; }
    }
}