@using pax.BlazorChartJs;

<div style="width: 50vw; min-width: 600px; height: calc(50vw * 0.6); min-height: 400px;">
    <ChartComponent @ref="chartComponent" ChartJsConfig="chartConfig" OnEventTriggered="ChartEventTriggered"></ChartComponent>
</div>
