@using pax.BlazorChartJs;

<div class="w-100" style="min-width: 600px;">
    <ChartComponent @ref="chartComponent" ChartJsConfig="chartConfig" OnEventTriggered="ChartEventTriggered"></ChartComponent>
</div>
