@using pax.BlazorChartJs;

<div style="width: 100%; min-width: 600px; height: calc(100% * 0.5); min-height: 300px;">
    <ChartComponent @ref="chartComponent" ChartJsConfig="chartConfig" OnEventTriggered="ChartEventTriggered"></ChartComponent>
</div>
