@page "/tourneys"
@using dsstats.razorlib.Tourneys
@using dsstats.shared
@using dsstats.shared.Interfaces
@layout TourneysLayout
@inject ITourneysService tourneysService

<PageTitle>dsstats - tourneys</PageTitle>

<h3>Recent Tournaments</h3>
<div class="table-responsive tableFixHead">
    <table class="tptable table w-auto">
        <thead>
            <tr>
                <th>Name</th>
                <th>Winner</th>
                <th>Mode</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tournament in tourneys)
            {
                <tr>
                    <td>@tournament.Name</td>
                    <td>@tournament.WinnerTeam</td>
                    <td>@tournament.GameMode</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    List<TourneyDto> tourneys = new();


    protected override async Task OnInitializedAsync()
    {
        tourneys = await tourneysService.GetTourneys();
        await base.OnInitializedAsync();
    }
}
