@using Blazored.Toast.Services
@using Microsoft.JSInterop
@using dsstats.shared
@using dsstats.shared.DsFen
@using dsstats.shared.Interfaces
@inject IJSRuntime JSRuntime
@inject IRemoteToggleService RemoteToggleService
@inject IToastService ToastService

<div class="modal" id="buildmodal" tabindex="-1" aria-labelledby="buildmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        @if (RemoteToggleService.IsMaui)
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="buildmodalLabel">Prepare to Start Build <b>EXPERIMENTAL</b></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>⚠️ Please follow these steps before continuing:</h6>
                    <ol>
                        <li><strong>Close all other applications.</strong></li>
                        <li>Launch the <strong>Direct Strike Tutorial</strong> map in StarCraft II.</li>
                        <li>
                            Assign hotkeys:
                            <ul>
                                <li>Set Team 1's worker (top player) to hotkey <strong>1</strong></li>
                                <li>Set Team 2's worker (bottom player) to hotkey <strong>2</strong></li>
                            </ul>
                        </li>
                        <li><strong>Do not move the workers!</strong> They must stay centered for accurate unit placement.</li>
                        <li>In <strong>dsstats</strong>, load the replay and select the desired build.</li>
                        <li>Click the <strong>Build</strong> button (below) and <strong>switch back to StarCraft II immediately</strong>.</li>
                        <li><strong>Don't touch your mouse or keyboard</strong> until the build is done.</li>
                        <li>Ensure no other application is in focus during the build process.</li>
                    </ol>
                    <hr />
                    <div>
                        <label for="fenInput" class="form-label"><strong>Modify FEN (optional):</strong></label>
                        <textarea id="fenInput" class="form-control" rows="4" @bind="fen"></textarea>
                        <button class="btn btn-outline-primary mt-2" @onclick="ApplyFen">Apply FEN</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" @onclick="StartBuild">Start Build</button>
                </div>
            </div>
        }
        else
        {
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="buildmodalLabel">DS FEN String</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You can use this string to build the units in the Direct Strike Tutorial Map using the sc2dsstats app.
                    <div>
                        <label for="fenInput" class="form-label"><strong>FEN:</strong></label>
                        <textarea id="fenInput" disabled class="form-control" rows="4" @bind="fen"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        }
    </div>
</div>

@code {
    SpawnDto spawn = new();
    Commander commander = Commander.None;
    int team = 0;
    bool mirror = false;
    string fen = string.Empty;

    private async void StartBuild()
    {
        try
        {
            await Task.Run(() =>
            {
                RemoteToggleService.Build(new()
                {
                    Commander = commander,
                    Team = team,
                    Spawn = spawn,
                    Mirror = mirror,
                });
            });
        }
        finally
        {
            ToastService.ShowInfo("Build completed.");
        }
    }

    private void ApplyFen()
    {
        try
        {
            DsBuildRequest buildRequest = new();
            DsFen.ApplyFen(fen, out buildRequest);
            spawn = buildRequest.Spawn;
            commander = buildRequest.Commander;
            team = buildRequest.Team;

            ToastService.ShowSuccess("FEN applied successfully.");
        }
        catch
        {
            ToastService.ShowError("Failed to apply FEN.");
        }
    }

    public void Show(SpawnDto spawn, List<PlayerUpgradeDto> playerUpgrades, Commander commander, int team)
    {
        this.spawn = spawn;
        this.commander = commander;
        this.team = team;
        DsBuildRequest buildRequest = new()
        {
            Commander = commander,
            Team = team,
            Spawn = spawn,
            Upgrades = playerUpgrades,
            Mirror = mirror
        };
        fen = DsFen.GetFen(buildRequest);
        JSRuntime.InvokeVoidAsync("openModalById", "buildmodal");
        InvokeAsync(() => StateHasChanged());
    }

    public void Hide()
    {
        JSRuntime.InvokeVoidAsync("closeModalById", "buildmodal");
    }
}
