@using Blazored.Toast.Services
@using Microsoft.JSInterop
@using dsstats.shared
@using dsstats.shared.DsFen
@using dsstats.shared.Interfaces
@inject IJSRuntime JSRuntime

<div class="modal" id="fenmodal" tabindex="-1" aria-labelledby="fenmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fenmodalLabel">DS FEN String</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You can use this string to build the units in the Direct Strike Tutorial Map using the sc2dsstats app.
                <div>
                    <label for="fenInput" class="form-label"><strong>FEN:</strong></label>
                    <textarea id="fenInput" disabled class="form-control" rows="4" @bind="fen"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    SpawnDto spawn = new();
    Commander commander = Commander.None;
    int team = 0;
    string fen = string.Empty;

    public void Show(SpawnDto spawn, Commander commander, int team)
    {
        this.spawn = spawn;
        this.commander = commander;
        this.team = team;
        fen = DsFen.GetFen(spawn, commander, team);
        JSRuntime.InvokeVoidAsync("openModalById", "fenmodal");
    }

    public void Hide()
    {
        JSRuntime.InvokeVoidAsync("closeModalById", "fenmodal");
    }
}
