@using Microsoft.JSInterop
@using pax.dsstats.shared
@inject IJSRuntime jsRuntime

<div id="playerselectmodal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @if (isShowing)
                {
                    <div class="offset-md-2">
                        <PlayerSelectComponent OnPlayersSelected="PlayerSelected"></PlayerSelectComponent>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<PlayerRatingPlayerDto> OnPlayerSelected { get; set; }

    private bool isShowing;

    public void Show()
    {
        isShowing = true;
        StateHasChanged();
        jsRuntime.InvokeVoidAsync("ReplayModalOpen", "playerselectmodal");
    }

    public void Hide()
    {
        isShowing = false;
        jsRuntime.InvokeVoidAsync("ReplayModalClose");
        StateHasChanged();
    }

    public void PlayerSelected(PlayerRatingPlayerDto playerRatingDto)
    {
        OnPlayerSelected.InvokeAsync(playerRatingDto);
        Hide();
    }
}
