@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div>
    <div class="preload-zerg"></div>
    <p>
        Und es war Sommer
    </p>
    <div class="preload-zerg" alt="zerg" style="width: 30px; height: 30px;"></div>
</div>