@using dsstats.shared

<div class="container-fluid mb-5">
	<div class="d-flex bgchart p-2 rounded">
		<div>
			<img src="favicon.png" />
		</div>
		<div class="align-self-center ms-2">
			<h3 class="text-warning">Direct Strike Fan Project</h3>
		</div>
	</div>
	<div class="row mt-2">
		<div class="col-auto me-1 bgchart p-3 rounded border">
			<h4 class="text-warning">Top Commanders</h4>
			<small>Past 90 days - All Games</small>
			<TopCommanders RatingType="RatingType.Commanders" />
			<div class="text-end mt-1">
				<a class="text-decoration-none" href="/winrate">
					View full stats →
				</a>
			</div>
		</div>
		<div class="col-auto me-1 bgchart p-3 rounded border">
			<h4 class="text-warning">Top Players - Standard</h4>
			<small>Active</small>
			<TopRatings RatingType="RatingType.Standard" />
			<div class="text-end mt-1">
				<a class="text-decoration-none" href="/ratings?Rt=1">
					View full rankings →
				</a>
			</div>
		</div>
		<div class="col-auto bgchart p-3 rounded border">
			<h4 class="text-warning">Top Players - Commanders</h4>
			<small>Active</small>
			<TopRatings RatingType="RatingType.Commanders" />
			<div class="text-end mt-1">
				<a class="text-decoration-none" href="/ratings?Rt=2">
					View full rankings →
				</a>
			</div>
		</div>
	</div>

	<StatsComponent />

	<h3 class="mt-2 fw-bold text-warning d-inline-block p-2 bgchart border border-dark rounded">Ressources</h3>
	<div class="row mt-2">
		<div class="col-auto bgchart p-2 ms-2 border rounded mt-1">
			<a href="https://discord.gg/rKAyaggtqP">
				<img src="_content/dsstats.weblib/images/discord.svg" alt="Discord" width="30" />
				<span class="badge bgchart2 text-decoration-underline" style="font-size: 1rem;">
					Discord
				</span>
			</a>
		</div>
		<div class="col-auto bgchart p-2 ms-2 border rounded mt-1">
			<a href="https://github.com/ipax77/dsstats">
				<img src="_content/dsstats.weblib/images/GitHub-Mark-Light-64px.png" alt="GitHub" width="30" />
				<span class="badge bgchart2 text-decoration-underline" style="font-size: 1rem;">
					GitHub Project
				</span>
			</a>
		</div>
		<div class="col-auto bgchart p-2 ms-2 border rounded mt-1">
			<a href="https://github.com/ipax77/dsstats/wiki">
				<img src="_content/dsstats.weblib/images/GitHub-Mark-Light-64px.png" alt="GitHub" width="30" />
				<span class="badge bgchart2 text-decoration-underline" style="font-size: 1rem;">
					GitHub Wiki
				</span>
			</a>
		</div>
	</div>
</div>

@code {

}
