@using dsstats.shared
@using dsstats.razorlib.Services

<div class="row">
    @foreach (var rating in Ratings)
    {
        <div class="col-auto">
            <div class="@(interestRating == rating ? "card border border-3 border-primary pointer" : "card boder-secondary pointer")"
                @onclick="e => SelectCard(rating)">
                <div class="card-header bgchart2">
                    <span class="fw-bold">@Data.GetRatingTypeLongName(rating.RatingType)</span>
                </div>
                <div class="card-body bgchart" style="padding: 5px !important;">
                    <div class="d-flex justify-content-center">
                        <div>
                            <span class="text-danger small">#@rating.Pos</span>
                        </div>
                        <div class="ms-1">
                            <span class="text-warning fw-bold" style="font-size: 1.4rem;">
                                @rating.Rating.ToString("N2")
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public List<PlayerRatingDetailDto> Ratings { get; set; } = default!;

    [Parameter, EditorRequired]
    public RatingType RatingType { get; set; }

    [Parameter]
    public EventCallback<PlayerRatingDetailDto> OnRatingSelected { get; set; }

    private PlayerRatingDetailDto? interestRating;

    protected override void OnParametersSet()
    {
        interestRating = Ratings.FirstOrDefault(f => f.RatingType == RatingType);
        base.OnParametersSet();
    }

    public void SelectCard(PlayerRatingDetailDto rating)
    {
        if (rating.RatingType != RatingType)
        {
            OnRatingSelected.InvokeAsync(rating);
        }
    }
}